{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>План питания на неделю, меню, рецепты, список покупок. Классическое меню, безуглеводное меню</title>
{% block title %}

{% block header-content %}
    <button class="btn btn-outline-success me-2 shadow-none foodplan_green foodplan__border_green">Назад</button>
{% endblock header-content%}

{% block main %}
    <main style="margin-top: calc(2rem + 75px);">
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-4 d-flex justify-content-center">
                        <div class="card foodplan__card_borderless">
                            <img src="img/circle1.png" alt="">
                        </div>
                    </div>
                    <div class="col-12 col-md-8 d-flex flex-column justify-content-between">
                        <div class="row">
                            <h2>{{dish.title}}</h2>
                            <div class="col-12 col-sm-6">
                                <h6>{{dish.description}}</h6>
                            </div>
                            <div class="col-12 col-sm-6">
                                <small class="link-secondary">Ингредиенты:</small>
                                <ul class="list-group list-group-flush">
                                    {% for component in dish.components %}
                                        <li class="list-group-item disabled"><small>{{component.title}} ({{component.weight}}.г)</small></li>
                                    {% endfor %}
                                </ul>
                                <small class="link-secondary">Общая калорийность: {{dish.calories}} ккал</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock main %}

{% block footer %}
    {% include 'footers.html' %}
{% endblock footer %}
