{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>Foodplan 2021 - Меню на неделю FOODPLAN</title>
{% endblock title %}

{% block header-content %}
    <a href="{% url 'index' %}">
        <button class="btn btn-outline-success shadow-none foodplan_green foodplan__border_green">Выйти</button>
    </a>
{% endblock header-content %}

{% block main %}
    <main style="margin-top: calc(2rem + 85px);">
        <section>
            <div class="container">
                <div class="row">
                    <div class="card col-12 p-3 mb-5 foodplan__shadow">
                        <h4 class="foodplan__backButton">
                            <strong><small><a href="{% url 'index' %}" class="link-secondary fw-light">
                                <button class="btn btn-outline-success me-2 shadow-none foodplan_green foodplan__border_green">Назад</button>
                            </a></small></strong>
                        </h4>
                        <h2 class="text-center"><strong>Личный кабинет</strong></h2>
                    </div>
                    
                    <div class="card col-12 col-md-2 p-3 mb-3 d-flex flex-column align-items-center foodplan__shadow">
                        <div class="position-relative">
                            {% if client.avatar %}
                                <img src="{{ client.avatar.url }}" alt="" width="100" height="100" class="rounded-pill">
                            {% else %}
                                <img src="{% static 'img/test_avatar.png' %}" alt="" width="100" height="100" class="rounded-pill">
                            {% endif %}
                            <span class="badge rounded-circle position-absolute bottom-0 end-0 foodplan__bg_green avatar__plus"><a href="#"
                                    class="link-dark text-decoration-none align-middle">+</a></span>
                        </div>
                        <h3 class="card-title text-center">{{ client.name }}</h3>
                        <div class="d-block">
                            <a href="{% url 'index' %}">
                                <button class="btn btn-outline-success shadow-none foodplan_green foodplan__border_green">Выйти</button>
                            </a>
                        </div>
                    </div>

                    <div class="card col-12 col-md-10 p-3 mb-3 foodplan__shadow">
                            <ul class="nav nav-tabs">
                                <li class="nav-item foodplan__tab-item">
                                    <button id="tab1" class="btn shadow-none foodplan__tab-button active" data-bs-toggle="tab" data-bs-target="#data">Персональные данные</button>
                                </li>
                                <li class="nav-item foodplan__tab-item">
                                    <button id="tab2" class="btn shadow-none foodplan__tab-button" data-bs-toggle="tab" data-bs-target="#menu">Моё меню</button>
                                </li>
                                <li class="nav-item foodplan__tab-item flex-grow-1"></li>
                            </ul>
                            <div class="tab-content mt-2">
                                <div class="tab-pane fade show active" id="data">
                                    <form action="{% url 'lk' %}" id="client_form" method="post" >{% csrf_token %}
                                        <div class="mb-3">
                                            <div class="d-flex align-items-center justify-content-between">
                                                <label for="client_form" class="form-label">Имя</label>
                                            </div>
                                                {{ form.name }}
                                                {{ form.name.errors }}
                                        </div>
                                        <div class="mb-3">
                                            <div class="d-flex align-items-center justify-content-between">
                                                <label for="client_form" class="form-label">Mail</label>
                                            </div>
                                                {{ form.mail }}
                                                {{ form.mail.errors }}
                                        </div>
                                        <div class="mb-3">
                                            <div class="d-flex align-items-center justify-content-between">
                                                <label for="client_form" class="form-label">Пароль</label>
                                            </div>
                                            {{ form.password }}
                                            {{ form.password.errors }}
                                        </div>
                                        <div class="mb-3">
                                            <div class="d-flex align-items-center justify-content-between">
                                                <label for="client_form" class="form-label">Подтверждение пароля</label>
                                            </div>
                                            {{ form.password_confirm }}
                                            {{ form.password.errors }}
                                        </div>
                                        <div class="d-block">
                                            <button type="submit" class="btn shadow-none btn-outline-success foodplan_green foodplan__border_green">Сохранить
                                                изменения</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="tab-pane fade" id="menu">
                                    <div class="row">
                                        <div class="col-2">
                                            {% if subscription %}
                                                <a href="{% url 'sorted_catalog' id=subscription.id %}">
                                                    <img src="{% static 'img/circle1.png' %}" alt="" class="w-100">
                                                </a>
                                                <a href="{% url 'week_plan' %}">
                                                    <p>Недельное меню </p>
                                                </a>
                                            {% else %}
                                                <img src="{% static 'img/circle1.png' %}" alt="" class="w-100">
                                            {% endif %}
                                        </div>
                                        <div class="col-10 col-md-10">
                                            <div class="row">
                                                <div class="col-12">
                                                    <h2>Название подписки</h2>
                                                </div>
                                                <div class="col-md-12 col-lg-9">
                                                    {% if subscription %}
                                                        <h6>{{ subscription.description}}</h6>
                                                    {% else %}
                                                    <h6>У вас нет подписок </h6>
                                                        <a href="{% url 'order' %}">
                                                            <button class="btn btn-outline-success shadow-none foodplan_green foodplan__border_green">Подписаться</button>
                                                        </a>
                                                    {% endif %}
                                                </div>
                                                <div class="col-md-12 col-lg-3 text-muted d-flex flex-column justify-content-between">
                                                    <div class="d-flex flex-row justify-content-between">
                                                        <small>Персоны: </small><small>{{ subscription.persons_number }}</small>
                                                    </div>
                                                    <div class="d-flex flex-row justify-content-between">
                                                        <small>Аллергии: </small>
                                                    </div>
                                                    {% if subscription.subscription_allergies.all %}
                                                        {% for allergy in subscription.subscription_allergies.all %}
                                                        <div class="d-flex flex-row justify-content-between">
                                                            <small>* {{ allergy}}</small>
                                                        </div>
                                                        {% endfor %}
                                                    {% else %}
                                                        <small>* нет</small>
                                                    {% endif %}

                                                    <div class="d-flex flex-row justify-content-between">
                                                        <small>Калории: </small><small>{{subscription.calories}}</small>
                                                    </div>
                                                    <div class="d-flex flex-row justify-content-between">
                                                        <small>Кол-во приёмов пищи: </small><small>{{subscription.count_of_meals}}</small>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock main %}

{% block footer %}
    {% include 'footers.html' %}
{% endblock footer%}
