{% extends "base.html" %}
{% load static %}
{% block title %}
    <title>План на неделю</title>
{% endblock title %}
{% block header-content %}
    <a href="{% url 'index' %}">
        <button class="btn shadow-none btn-outline-success foodplan_green foodplan__border_green">Выйти</button>
    </a>
{% endblock header-content %}

{% block main %}
    <main style="margin-top: calc(2rem + 85px);">
        <div class="row row-cols-4 row-cols-md-1 g-4" style="margin-left:20px; margin-top:5px;">
            {% for day in week %}
                <p>{{ day.title }}</p>
                <div class="row">
                    <div class="card" style="width: 350px;">
                        <p>Завтрак</p>
                        {% if day.breakfast %}
                            <a href="{% url 'card' id=day.breakfast.id %}">
                                <img src="{{ day.breakfast.photo.url}}" class="card-img-top">
                            </a>
                            <div class="card-body">
                                {{ day.breakfast }}
                                <h4 class="card-title">
                                    {{day.breakfast.title}}
                                </h4>
                                <br>
                                <p class="card-text">
                                    {{day.breakfast.calories}} ккал
                                </p>
                            </div>
                        {% endif %}
                    </div>
                    <div class="card" style="width: 350px;">
                        <p>Обед</p>
                        {% if day.lunch %}
                            <a href="{% url 'card' id=day.lunch.id %}">
                                <img src="{{ day.lunch.photo.url}}" class="card-img-top">
                            </a>
                            <div class="card-body">
                                {{ day.lunch }}
                                <h4 class="card-title">
                                    {{day.lunch.title}}
                                </h4>
                                <br>
                                <p class="card-text">
                                    {{day.lunch.calories}} ккал
                                </p>
                            </div>
                        {% endif %}
                    </div>
                    <div class="card" style="width: 350px;">
                        <p>Десерт</p>
                        {% if day.dessert %}
                            <a href="{% url 'card' id=day.dessert.id %}">
                                <img src="{{ day.dessert.photo.url}}" class="card-img-top">
                            </a>
                            <div class="card-body">
                                {{ day.dessert }}
                            <h4 class="card-title">
                                {{day.dessert.title}}
                            </h4>
                            <br>
                            <p class="card-text">
                                {{day.dessert.calories}} ккал
                            </p>
                            </div>
                        {% endif %}
                    </div>
                    <div class="card" style="width: 350px;">
                        <p>Ужин</p>
                        {% if day.dinner %}
                            <a href="{% url 'card' id=day.dinner.id %}">
                                <img src="{{ day.dinner.photo.url }}" class="card-img-top">
                            </a>
                            <div class="card-body">
                                {{ day.dinner }}
                                <h4 class="card-title">
                                    {{day.dinner.title}}
                                </h4>
                                <br>
                                <p class="card-text">
                                    {{day.dinner.calories}} ккал
                                </p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock main %}